@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{

}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
